<mat-toolbar color="success">

    <!-- mat-icon-button-->
    <a mat-button routerLink="/" class="logoBtn">
        <mat-icon svgIcon="logo"></mat-icon>
        <!-- <mat-icon>school</mat-icon> -->
        QUIZ PORTAL
    </a>

    <!-- <span>QUIZ PORTAL</span> -->
    <span class="spacer"></span>

    <a mat-button *ngIf="isLoggedIn" routerLink="/admin/profile">
        {{username}}
        <mat-icon>account_circle</mat-icon>
    </a>

    <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/login'">
        Login
        <mat-icon>login</mat-icon>
    </a>

    <a mat-button *ngIf="!isLoggedIn" [routerLink]="'/signup'">
        Register
        <mat-icon>how_to_reg</mat-icon>
    </a>

    <a mat-button *ngIf="isLoggedIn" (click)="logout()">
        Logout
        <mat-icon>logout</mat-icon>
    </a>

    <!-- Toggle Theme -->
    <mat-icon class="mr5">brightness_5</mat-icon>
    <mat-slide-toggle class="mr5" name="toggleTheme" [(ngModel)]="toggleTheme" [checked]="isToggleChecked">
    </mat-slide-toggle>
    <mat-icon>bedtime</mat-icon>

</mat-toolbar>