<mat-toolbar color="success">

    <a routerLink="/" mat-icon-button>
        <mat-icon>school</mat-icon>
    </a>

    <span>QUIZ PORTAL</span>
    <span class="spacer"></span>

    <a *ngIf="isLoggedIn" mat-button>
        {{username}}
        <mat-icon>account_circle</mat-icon>
    </a>

    <a *ngIf="!isLoggedIn" mat-button [routerLink]="'/login'">
        Login
        <mat-icon>login</mat-icon>
    </a>

    <a *ngIf="!isLoggedIn" mat-button [routerLink]="'/signup'">
        Register
        <mat-icon>how_to_reg</mat-icon>
    </a>

    <a *ngIf="isLoggedIn" mat-button (click)="logout()">
        Logout
        <mat-icon>logout</mat-icon>
    </a>

</mat-toolbar>