.matCardHeader {
    display: flex;
    justify-content: space-between;
}

.avatar {
    background-image: url('../../../../assets/svg/online-quiz.svg');
    background-size: cover;
}

::ng-deep .mat-badge-content {
    font-size: 10px;
    text-rendering: optimizeLegibility !important;
}

.quizCard {
    margin: 15px 20px 0 20px;
    border: 1px solid gray;
}

.deleteBtn {
    width: 90px;
}

.updateBtn {
    width: 95px;
}

mat-icon {
    /* icon size*/
    /* font-size: 20px; */
    transform: scale(1);
}

@media screen and (min-width: 285px) {
    .attemptBtn {
        margin-left: 20px;
    }
}

@media screen and (min-width: 769px) {
    .marksBtn {
        margin-top: 10px;
        /* margin-left: 20px; */
    }
}

@media screen and (max-width: 920px) {
    .marksBtn,
    .updateBtn,
    .deleteBtn {
        margin-left: -1px;
    }
    mat-card {
        margin-top: 10px;
    }
}

@media screen and (max-width: 280px) {
    .attemptBtn {
        margin-left: -1px;
    }
}

@media screen and (max-width: 768px) {
    .updateBtn,
    .attemptBtn,
    .deleteBtn,
    .marksBtn {
        margin-top: 10px;
    }
}