.btn {
    width: 25px;
}

.home mat-icon {
    margin-bottom: 8px;
}

.profile mat-icon {
    margin-bottom: 4px;
}

.category mat-icon {
    margin-bottom: 4px;
}

.quiz mat-icon {
    margin-bottom: 4px;
}