<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item class="homeBtn" routerLink="/admin">
            <!-- <img src="../../../../assets/img/home.svg" class="homeBtn-img" /> -->
            <!-- <mat-icon mat-list-icon>home</mat-icon> -->
            <mat-icon mat-list-icon svgIcon="home-svg"></mat-icon>
            Home
        </button>
        <button mat-list-item class="profileBtn" routerLink="/admin/profile">
            <mat-icon mat-list-icon svgIcon="user-profile-svg"></mat-icon>
            Profile
        </button>
    </mat-action-list>
</mat-card>