/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: var(--theme-background);
    color: var(--theme-color);
    transition: all ease-in-out 600ms;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.btn {
    width: 40%;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.snackbar-error {
    background: red !important;
    color: whitesmoke !important;
}

.snackbar-success {
    background: rgb(100, 231, 100) !important;
    color: whitesmoke !important;
}

.snackbar-warn {
    background: goldenrod !important;
    color: whitesmoke !important;
}

.mat-simple-snackbar-action {
    color: whitesmoke !important;
}

.mat-success {
    color: #f0fff3;
    background-color: #1d8a36;
}

.mat-raised-button.mat-success:hover {
    background-color: #43ca63;
}

.mat-raised-button.mat-accent:hover {
    background-color: rgb(250, 167, 181);
}

.btn-active {
    background-color: rgb(219, 238, 245);
    color: white;
}

:root[theme=dark] {
    --theme-background: #303030;
    --theme-color: rgba(255, 255, 255, .75);
}

 :root[theme=light] {
    --theme-background: white;
    --theme-color: black;
}