/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    background: #f5f5f5;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center {
    text-align: center;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.btn {
    width: 40%;
}

.ml20 {
    margin-left: 20px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.snackbar-error {
    background: red !important;
    color: whitesmoke !important;
}

.mat-simple-snackbar-action {
    color: whitesmoke !important;
}

.snackbar-success {
    background: green !important;
    color: whitesmoke !important;
}

.mat-success {
    color: #f0fff3;
    background-color: #1d8a36;
}

.mat-raised-button.mat-success:hover {
    background-color: #43ca63;
}

.mat-raised-button.mat-accent:hover {
    background-color: rgb(250, 167, 181);
}